@import "tailwindcss";
@import 'primereact/resources/themes/lara-light-blue/theme.css';
@import 'primereact/resources/primereact.min.css';
@import 'primeicons/primeicons.css';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.p-menu {
  z-index: 9999 !important;
}

html {
  font-size: 13px;
}

@media (min-width: 1024px) {
  html {
    font-size: 13px;
  }
}

@media (min-width: 1440px) {
  html {
    font-size: 13px;
  }
}

@media (min-width: 1920px) {
  html {
    font-size: 13px;
  }
}

.orders-table .p-datatable-thead > tr > th {
  background-color: #2563eb !important; /* bg-gray-500 */
  color: #e5e7eb !important; /* text-gray-200 */
  font-weight: 600;
  padding: 1rem;
}

.orders-table .p-sortable-column-icon {
  color: #e5e7eb !important;
}

.orders-table .p-datatable-thead > tr > th.p-sortable-column:hover {
  background-color: #2563eb !important; /* Hover más oscuro */
}